.app-header {
  background-color: #00a99d;
  color: white;
  .logo-team, .logo-doctor {
    height: 3rem;
  }
  .logo-team:hover, .logo-doctor:hover {
    cursor: pointer;
  }
  .banner img {
    width: 30%;
  }
  .doctor-sign-in {
    border-right: solid 1px gray;
    span {
      color: #f4f4f4;
    }
  }
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .app-header {
    .banner img {
      width: 30vh;
    }
  }
}