<nav class="navbar navbar-expand-lg app-header">
  <a routerLink="/" routerLinkActive=""  class="nav-item banner">
    <img src="../../../assets/images/logo.png">
  </a>
  <div class="doctor-sign-in navbar-nav ml-auto">
    <img class="logo-doctor" *ngIf="!isConnected" [routerLink]="'/se-connecter'" matTooltip="تسجيل دخول الطبيب" src="../../../assets/images/doctor.png" title="Connexion médecin">
    <span class="col-sm-2 link-button p-1 m-1 btn-info pointer" *ngIf="isConnected" [routerLink]="'/'" (click)="signOut()" title="Déconnexion médecin">خروج</span>
  </div>
  <div class="doctor-sign-in navbar-nav ml-auto">
    <a title="Inscription médecin" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd-e4y_xNYp08hbj9SgjghURiF_0YBE6a9sudBcwv-VQ4a92A/viewform?fbclid=IwAR1dkw-rlklejMAgP68mriL_woQX3sRAH6EtzJ5y72pDov9foB3ahMuBce4"><img class="logo-team nav-item" src="../../../assets/images/ins.png"></a>
  </div>
  <img class="logo-team nav-item" routerLink="/équipe" src="../../../assets/images/team.png" title="Equipe">
</nav>
