<div class="symptoms-form">
    <div class="d-flex justify-content-center mt-3" *ngIf="!messageCorona && showedQuestions.length === 0">
    <p *ngIf="errorMessage" class="error-message p-3">{{errorMessage}}</p>
    <div *ngIf="!errorMessage" class="d-flex justify-content-center">
        <p class="loading-message p-3">الرجاء الإنتظار قليلا</p><br>
        <div class="spinner-border" style="width: 4rem; height: 4rem;"></div>
    </div>
    </div>
    <div *ngIf="!messageCorona && showedQuestions.length > 0">
        <div *ngFor="let question of showedQuestions; let i = index" class="corona-question">
            <div class="card mt-3 mx-auto corona-form">
              <p class="card-header">{{ currentQuestionIndex + 1 }} : السؤال </p>
                <div class="p-2 question ">{{question.text}}</div>
                <div class="row button-suggestion-container">
                    <button *ngFor="let suggestion of question.responseDTOS"
                             (click)="calculateScore(question.id,  suggestion.id, suggestion.score, question.score); next();"
                             class="btn suggestions-button m-3 col-sm-2">
                        {{suggestion.text}}
                    </button>
                </div>
            </div>
            <div class="card mt-3 mx-auto corona-tips-container" *ngIf="question.advice">
                <p class="card-header" style="background-color: #dc3a58; text-align: center">نصيحة</p>
                <p class="corona-tips">{{question.advice}}</p>
            </div>
        </div>
    </div>
  <div *ngIf="messageCorona" class="mt-9">
    <div class="row corona-tips">
      <div *ngIf="isCoronaCase" class="alert alert-danger text-center corona-alert corona-alert-danger">
        <strong>{{messageCoronaTitle}}</strong>
        <p>{{messageCorona}}</p>
      </div>
      <div *ngIf="!isCoronaCase" class="alert alert-success text-center corona-alert corona-alert-success">
        <strong>{{messageCoronaTitle}}</strong>
        <p>{{messageCorona}}</p>
      </div>
    </div>
    <div class="row" *ngIf="callDoctor">
      <app-contact-doctor [response]="forms" class="col-sm-12"></app-contact-doctor>
    </div>
  </div>
    <!--<div class="card container corona-tips mt-3">
    <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
     </span>
    </div>-->
</div>
