.symptoms-form {
  .card-header {
    border-top-left-radius: 2rem 2rem;
    border-top-right-radius: 2rem 2rem;
    text-align: right;
    color: white;
    background-color: royalblue;
    font-size: 1.875rem;
    font-weight: bold;
  }

  .corona-alert {
    margin: auto;
    background-color: white;
    font-size: 1.875rem;
  }

  .corona-alert-danger {
    border-color: #721c24;
    width: 100%;
  }

  .corona-alert-success {
    border-color: #155724
  }

  .corona-form {
    color: #297670;
    border: 2px solid #b1b1b1;
    border-radius: 2rem;
    height: auto;
    padding-bottom: 5rem;
    max-width: 80rem;
  }

  .corona-tips-container {
    border: 2px solid #b1b1b1;
    border-radius: 2rem;
    height: auto;
    max-width: 80rem;
  }

  .corona-form[_ngcontent-qws-c2] {
    color: #000000 !important;
  }

  .corona-form[_ngcontent-oru-c2] {
    border: 2px solid #cecece !important;
    border-radius: 1rem !important;
  }

  .corona-question {
    text-align: right;
  }
  .button-suggestion-container {
    position: absolute;
    bottom: 0;
    left: 40%;
    .suggestions-button {
      font-size: 1.875rem;
      text-align: center;
      margin-bottom: 0.625rem;
      background-color: #00a99d;
      color: white;
      min-width: 7.625rem;
      min-height: 2.875rem;
      max-width: 12.5rem;
    }
    .suggestions-button:hover {
      opacity: 0.6;
    }
  }

  .question {
    text-align: center;
    font-size: 1.875rem;
    color: #2b2b2b;
    font-weight: bold;
  }

  .corona-tips {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: black;
  }

  .error-message, .loading-message {
    text-align: center;
    font-weight: bold;
  }
}

.symptoms-form{
  width: 90% !important;
  margin-right: auto !important;
  margin-left: auto !important;

}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .corona-form, .corona-tips, .row {
    width: 100%;
  }
  .corona-form {
    width: 100vw;
    padding: 0 !important;
    .button-suggestion-container {
      position: static !important;
      display: flex;
      justify-content: center;
      .suggestions-button {
        font-size: 1.2rem;
      }
    }
    .question {
      font-size: 1.2rem;
    }
  }
}
