<div class="row">
    <a class="p-1 m-1 start-test" [routerLink]="'/formulaire-symptômes'" ></a>
</div>

<p class="container info-corona mt-9 p-9">
  <strong>ما هو فيروس كورونا؟</strong>
    <br>فيروسات كورونا هي فصيلة كبيرة من الفيروسات التي قد تسبب المرض للحيوان والإنسان.  ومن المعروف أن عدداً من فيروسات كورونا تسبب لدى البشر حالات عدوى الجهاز التنفسي التي تتراوح حدتها من نزلات البرد الشائعة إلى الأمراض الأشد وخامة مثل متلازمة الشرق الأوسط التنفسية والمتلازمة التنفسية الحادة الوخيمة (السارس). ويسبب فيروس كورونا المُكتشف مؤخراً مرض فيروس كورونا كوفيد-19.
</p>
<div class="container info-corona mt-9 p-9">
  <strong>كيف يمكنني حماية نفسي ومنع انتشار المرض؟</strong>
    <ul>
      <li class="best-practice">نظف يديك جيداً بانتظام بفركهما بمطهر كحولي لليدين أو بغسلهما بالماء والصابون.</li>
      <li class="best-practice">احتفظ بمسافة لا تقل عن متر واحد (3 أقدام) بينك وبين أي شخص يسعل أو يعطس.</li>
      <li class="best-practice">تجنب لمس عينيك وأنفك وفمك قبل غسلهما جيدا بالماء و الصابون.</li>
      <li class="best-practice">تأكد من اتّباعك أنت والمحيطين بك لممارسات النظافة التنفسية الجيدة. ويعني ذلك أن تغطي فمك وأنفك بكوعك المثني أو بمنديل ورقي عند السعال أو العطس، ثم التخلص من المنديل المستعمل على الفور.</li>
      <li class="best-practice">إلزم المنزل إذا شعرت بالمرض. إذا كنت مصاباً بالحمى والسعال وصعوبة التنفس، التمس الرعاية الطبية واتصل بمقدم الرعاية قبل التوجه إليه. واتّبع توجيهات السلطات الصحية المحلية.</li>
      <li class="best-practice">اطلع باستمرار على آخر تطورات مرض كوفيد-19. واتّبع المشورة التي يسديها مقدم الرعاية الصحية أو سلطات الصحة العمومية الوطنية والمحلية أو صاحب العمل بشأن كيفية حماية نفسك والآخرين من مرض كوفيد-19.</li>
    </ul>
</div>
<div class="embed-responsive embed-responsive-16by9 container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PaBT4HzeVMA" allowfullscreen></iframe>
</div>

<!-- Accept terms modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" dir="rtl"  style="background-color: #dc3a58; color: white">
    <h4 class="modal-title" id="modal-basic-title">تنويه!</h4>
  </div>
  <div class="modal-body">
    صمّم هذا الإستبيان عن طريق مجموعة من المتطوعين. و هو عبارة عن استبيان على الإنترنت مخصص للأشخاص الذين يعتقدون أنهم تعرضوا لفيروس كورونا.

    هذا الموقع لا يعوض

    <a href="https://www.stopcorona.gov.tn" target="_blank"> إستبيان الوزارة</a>
    <br>
    يمكّنك هذا الموقع من كشف مجاني وحيني عن أعراض الكورونا ليتم اما طمأنتك بأن لا أعراض لديك أو أنه لديك احتمال الإصابة أو أن البيانات التي أدخلتها تشير الى اصابتك بالفيروس.إن كانت لديك بعض أعراض فيروس الكورونا،  يمكنك هذا الموقع  من الإتصال بطبيب متطوع لإرشادك.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="acceptTerms(); c('Save click');">قبول</button>
  </div>
</ng-template>
