.info-corona {
  color: #297670;
  border: 0.3rem solid #297670;
  border-radius: 1.5rem;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.info-corona-title {
  font-size: 2.2rem;
}
p.container.info-corona.mt-3.p-3 {
  max-width: 90%;
}

.start-test{
  background-image: url("../../../assets/images/start-test.png");
  background-repeat: repeat;
  background-position: center;
  width: 21.5rem;
  height: 18.75rem;
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: inherit !important;
  border: 0 !important;
  cursor: pointer;
}
ul {
  direction: rtl;
}
.best-practice {
  text-align: right;
}
a:hover {
  opacity: 0.6;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .info-corona {
    font-size: 1rem;
  }
}
.modal-body {
  text-align: right;
}
