.text-align-right{
  text-align: right;
}

.login-form {
  margin-top: 5rem;
  width: 40vw;
  .card {
    border: 2px solid #297670;
    border-radius: 2rem;
    background-color: transparent;
    .card-header {
      border-top-left-radius: 2rem 2rem;
      border-top-right-radius: 2rem 2rem;
      text-align: center;
      color: white;
      background-color: #297670;
    }
    label {
      color: #00a99d;
      font-weight: bold;
    }
    input[type="text"], input[type="password"] {
      background-color: #f9f9f9;
      width: 40vw;
    }
  }
}
/* Mobile styles */
@media only screen and (max-width: 768px) {
  .login-form {
    width: 100vw;
    .card {
      input[type="text"], input[type="password"] {
        width: 70vw;
      }
    }
  }
}