.navigation-menu, .contact-item {
  text-decoration: none;
  color: dimgrey;
  font-size: 0.7rem;
}
.app-footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  p, strong, a {
    font-size: 0.7rem;
  }
}