<footer class="app-footer">
  <div class="row">
    <div class="col-2">
      <strong>روابط مفيدة</strong>
      <p class="contact-item">
        <a target="_blank" [href]="'http://coronavirus.rns.tn/'">رابط وزارة الصحة حول الكورونا</a>
      </p>
      <p class="contact-item">
        <a target="_blank" [href]="'http://www.emro.who.int/ar/health-topics/corona-virus/information-resources.html'">رابط منظمة الصحة العالمية حول الكورونا</a>
      </p>
    </div>
    <div class="col-3">
      <strong>أرقام مفيدة</strong>
      <p>عند الإشتباه في الإصابة بفيروس كورونا
      الرقم الأخضر:
        <strong>80101919</strong>
      </p>
      <p>للإحاطة النفسية في إطار الحجر الصحي العام
        الرقم الأخضر:
        <strong>80105050</strong>
      </p>

    </div>
    <div class="col-6">
      <strong>تنويه</strong>
      <p>
      عزيزي الزائر ،

      تتيح لك تطبيقة الإنترنت المجانية هذه تحديد خطر الإصابة بفيروس الكورونا بسهولة.
      من خلال الإجابة على بعض الأسئلة البسيطة ، ستقدم لك  التطبيقة  النصيحة اللازمة .

      النصيحة التي تتلقاها من خلالها هي إرشادية بحتة ولن تحل محل استشارة الطبيب.

      شكرا لك مقدما على زيارتك
      </p>
    </div>
</div>
</footer>
