<div class="container">
  <br>
  <h1 class="team-row">Développeurs</h1>
  <div class="row ">
    <div *ngFor="let dev of team.developers" class="col-sm-6 p-2">
      <div class="row members" >
        <div class="col-sm-4">
          <img class="member-img" src="{{dev.imgSrc}}">
        </div>
        <br>
        <div class="mt-auto member-div">
          <h4 class="blue text-left">
           {{dev.fullName}}
           <br>
           <small class="black">
             <strong>{{dev.job}}</strong>
           </small>
         </h4>
        </div>
      </div>
    </div>
  </div>
  <h1 class="team-row">Médecins</h1>
  <div class="row ">
    <div *ngFor="let doc of team.doctors" class="col-sm-6 p-2">
      <div class="row members" >
        <div class="col-sm-4">
          <img class="member-img" src="{{doc.imgSrc}}">
        </div>
        <br>
        <div class="mt-auto member-div">
          <h4 class="blue text-left">
            {{doc.fullName}}
            <br>
            <small class="black">
              <strong>{{doc.job}}</strong>
            </small>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <h1 class="team-row">Pharmaciens</h1>
  <div class="row ">
    <div *ngFor="let pharmacist of team.pharmacists" class="col-sm-6 p-2">
      <div class="row members" >
        <div class="col-sm-4">
          <img class="member-img" src="{{pharmacist.imgSrc}}">
        </div>
        <br>
        <div class="mt-auto member-div">
          <h4 class="blue text-left">
            {{pharmacist.fullName}}
            <br>
            <small class="black">
              <strong>{{pharmacist.job}}</strong>
            </small>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <h1 class="team-row">Divers profils</h1>
  <div class="row ">
    <div *ngFor="let oth of team.other" class="col-sm-6 p-2">
      <div class="row members" >
        <div class="col-sm-4">
          <img class="member-img" src="{{oth.imgSrc}}">
        </div>
        <br>
        <div class="mt-auto member-div">
          <h4 class="blue text-left">
            {{oth.fullName}}
            <br>
            <small class="black">
              <strong>{{oth.job}}</strong>
            </small>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
