.member-img {
  width: 8rem;
  max-height: 10rem;
  display: block;
  max-width: 100%;
  height: auto;
}
.member-div {
  text-align: left;
  padding-left: 15px;
}
.team-row {
  text-align: center;
  background-color: #dc3a58;
  color: white;
}
.text-div{
  padding-left: 15px;
}
.members {
  border-bottom: #00a99d 2px solid;
  display: grid;
}
