<div style="display: flex;" [hidden]="!showIframeCall">
  <iframe id="call_patient_iframe" style="margin-left: auto; margin-right: auto" width="500" height="400"
    frameborder="0" allowfullscreen="allowfullscreen"  allow="camera;microphone">
  </iframe>
</div>
<div class="show-info-section">
  <button class="btn btn-danger" *ngIf="patient" (click)="showInfo()">Afficher les information du patient</button>
</div>
<div class="row margin-top-50px">
  <div class="col text-center">
    <div *ngIf="noPatientInCall">
      <h2>لا يوجد مريض متصل</h2>
      <br>
    </div>
    <button class="btn btn-info" (click)="goToCall()" [disabled]="!callAvailable">Répondre</button>

  </div>
</div>
<div class="patients-table" *ngIf="inProgressPatients?.length > 0; else noPatients">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Téléphone</th>
          <th scope="col">Région</th>
          <th scope="col">Date demande</th>
          <th scope="col">Status</th>
          <th scope="col">Appel en cour</th>
          <th scope="col">Score</th>
          <th scope="col">Status requête</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of inProgressPatients">
          <td><button type="button" class="btn btn-outline-primary" (click)="showPatientDetail(patient)"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{{ patient.phoneNumber }}</button></td>
          <td>{{ patient.regionName }}</td>
          <td>{{ patient.requestDate | date: "dd/MM/yyyy HH:mm" }}</td>
          <td>
            <div [ngClass]="patient.connected ? 'connected' : 'not-connected'"></div>
          </td>
          <td>
            <div [ngClass]="patient.callInProgress ? 'connected' : 'not-connected'"></div>
          </td>
          <td>{{ patient.requestScore }}</td>
          <td>{{ patient.requestStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #noPatients>
  <div class="text-center margin-top-2-rem">
    <h1>لم يتم العثور على مرضى</h1>
  </div>
</ng-template>
<!-- Modal -->
<div class="modal fade" id="patientDetail" tabindex="-1" role="dialog" aria-labelledby="patientModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="patient">
      <div class="modal-header">
        <h5 class="modal-title" id="patientModal">Detail de la demande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row patient-info">
          <div class="col-5">Nom du patient:</div>
          <div class="col-7">{{patient.fullName}}</div>
          <div class="col-5">Résultat du test:</div>
          <div class="col-7 score">{{patient.requestScore}}/9</div>
          <div class="col-5">Numero du tel:</div>
          <div class="col-7">{{patient.phoneNumber}}</div>
          <div class="col-5">Region:</div>
          <div class="col-7">{{patient.regionName}}</div>
          <div class="col-5">Date de la demande:</div>
          <div class="col-7">{{patient.requestDate | date: "dd/MM/yyyy HH:mm"}}</div>
          <div class="col-12" style="font-weight: bolder;">Réponse au formulaire:</div>
          <div class="col-12">
            <div class="row answers">
              <div class="col-12 form-element" *ngFor="let form of patient.forms; let i=index">
                {{i+1}} - {{form.questionText}} : <span
                  class="answer">{{form.responseTexts && form.responseTexts.length ? form.responseTexts[0] : 'pas d\'information'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button class="btn  btn-outline-primary" (click)="directCall(patient.id, patient.phoneNumber)" data-dismiss="modal"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Appeler Par Téléphone</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="directCallDetail" tabindex="-1" role="dialog" aria-labelledby="directCallModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form [formGroup]="doctorDecisionGroup" (ngSubmit)="submitDecision()" *ngIf="doctorDecisionGroup.controls.patient.value">
      <div class="modal-header">
        <h5 class="modal-title" id="directCallModal">Etat d'appel telephonique</h5>
      </div>
      <div class="modal-body">
        <div class="row patient-info">
          <div class="col-5">Nom du patient:</div>
          <div class="col-7">{{doctorDecisionGroup.controls.patient.value.fullName}}</div>
          <div class="col-5">Résultat du test:</div>
          <div class="col-7 score">{{doctorDecisionGroup.controls.patient.value.requestScore}}/9</div>
          <div class="col-5">Numero du tel:</div>
          <div class="col-7">{{doctorDecisionGroup.controls.patient.value.phoneNumber}}</div>
          <div class="col-5">Region:</div>
          <div class="col-7">{{doctorDecisionGroup.controls.patient.value.regionName}}</div>
          <div class="col-5">Date de la demande:</div>
          <div class="col-7">{{doctorDecisionGroup.controls.patient.value.requestDate | date: "dd/MM/yyyy HH:mm"}}</div>
          <div class="col-12" style="text-align: center; margin-top: 15px;">
              <div>Est-ce que l'appel est effectué?</div>
            <div class="btn-group" role="group" aria-label="Call Done">
              <button type="button" class="btn btn-primary" [ngClass]="{'active':directCallDone}"
                (click)="directCallDone=true;doctorDecisionGroup.controls.status.setValue(null)">Oui</button>
              <button type="button" class="btn btn-danger" [ngClass]="{'active':doctorDecisionGroup.controls.status.value == 'IN_PROGRESS'}"
                (click)="directCallDone=false;doctorDecisionGroup.controls.status.setValue('IN_PROGRESS')">Non</button>
            </div>
          </div>
          <div class="col-12" *ngIf="directCallDone" style="text-align: center;">
            <div>Quel est l'état du patient?</div>
            <div class="btn-group" role="group" aria-label="Call Done">
              <button type="button" class="btn btn-danger" [ngClass]="{'active':doctorDecisionGroup.controls.status.value == 'NEED_EMERGENCY'}" (click)="doctorDecisionGroup.controls.status.setValue('NEED_EMERGENCY')">Cas en
                danger</button>
              <button type="button" class="btn btn-primary" [ngClass]="{'active':doctorDecisionGroup.controls.status.value == 'PROCESSED'}" (click)="doctorDecisionGroup.controls.status.setValue('PROCESSED')">Pas de
                danger</button>
              <button type="button" class="btn btn-secondary" [ngClass]="{'active':doctorDecisionGroup.controls.status.value == 'CALL_STOPPED'}" (click)="doctorDecisionGroup.controls.status.setValue('CALL_STOPPED')">Pas de
                reponse</button>
            </div>
          </div>

        <div class="col-12">
            <textarea class="form-control" style="margin-top: 15px;" rows="4" formControlName="comment"></textarea>
            <div style="color: red; margin-top: 15px;" *ngIf="!doctorDecisionGroup.valid">Vous devez sélectionner une décision et saisir un commentaire</div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" [disabled]="!doctorDecisionGroup.valid" value="Sauvegarder" />
        <button class="btn  btn-outline-primary" (click)="directCall(doctorDecisionGroup.controls.patient.value.id, doctorDecisionGroup.controls.patient.value.phoneNumber)" data-dismiss="modal"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Appeler Par Téléphone</button>
      </div>
      </form>
    </div>
  </div>
</div>

<audio #ringSound style="position: absolute; top:-1000px" autoplay="true" muted="true" src="/assets/sound/ring.mp3"  loop="true">
  Your browser does not support the
            <code>audio</code> element.
</audio>
