.patients-table {
  margin-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

tr {
  border-bottom: #333333 solid 1px;
}

.margin-top-2-rem {
  margin-top: 2rem;
}

.margin-top-50px {
  margin-top: 50px;
}

.connected {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5%;
}

.not-connected {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  padding: auto;
  margin-left: 5%;
}
.patient-info {
  .answers {
    .form-element {
      direction: rtl;
      text-align: right;
      padding: 5px 12px;
      .answer {
        font-weight: bolder;
        color: red;
      }
    }
  }

  .col-5 {
    font-weight: bolder;
  }

  .score {
    color: red;
    font-weight: bolder;
  }
}

.show-info-section {
  text-align: center;
  padding: 15px;
}

.btn.active{
  background: #2da99c !important;
}
