<div style="display: flex; margin-bottom: 20px" [hidden]="!showIframeCall">
  <iframe id="call_doctor_iframe"
          style="margin-left: auto; margin-right: auto"
          width="500"
          height="400"
          frameborder="0"
          allowfullscreen="allowfullscreen"
          allow="camera;microphone">
  </iframe>
</div>
<form [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      role="form"
      class="container sick-form p-3"
      *ngIf="showContactForm">
  <p class="loading-message card-header" >باش تكلّم الطبيب دخّل معلوماتك</p>
  <div class="form-group">
    <!--label class="fr-label" for="fullName">Nom et prénom</label-->
    <label class="ar-label" for="fullName">الإسم واللقب</label>
    <input type="text" class="form-control"
           name="fullName"  formControlName="fullName"
           id="fullName" required>
    <div *ngIf="submitted && f.fullName.errors" class="text-danger">
      <div *ngIf="f.fullName.errors.required">يجب إدخال الإسم واللقب</div>
      <div *ngIf="f.fullName.errors.minlength">6 حروف على الأقل</div>
    </div>
  </div>
  <div class="form-group">
    <!--label class="fr-label" for="sickPhone">Numéro de téléphone</label-->
    <label class="ar-label" for="sickPhone">الهاتف</label>
    <input type="tel" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}" class="form-control"
           name="sickPhone"  formControlName="phoneNumber"
           id="sickPhone">
    <div *ngIf="submitted && f.phoneNumber.errors" class="text-danger">
      <div *ngIf="f.phoneNumber.errors.required">*يجب إدخال رقم الهاتف</div>
      <div *ngIf="f.phoneNumber.errors.pattern">صيغة الرقم غير صحيحة</div>
    </div>
  </div>
  <div class="form-group">
    <!--label for="region" class="fr-label">Ville</label-->
    <label for="region" class="ar-label">*المدينة</label>
    <select formControlName="regionId" class="form-control" id="region" name="region">
      <option *ngFor="let city of cities" [ngValue]="city.id">{{city.name}}</option>
    </select>
    <div *ngIf="submitted && f.regionId.errors" class="text-danger">
      <div *ngIf="f.regionId.errors.required">إدخال المدينة مطلوب</div>
    </div>
    <label for="region" class="ar-label">المعتمدية</label>
    <select formControlName="delegationId" class="form-control" id="delegation" name="delegation">
      <ng-container *ngIf="delegations && delegations.length">
        <option>لم يتم إختيار المعتمدية</option>
        <option *ngFor="let delegation of delegations" [ngValue]="delegation.id">{{delegation.name}}</option>
      </ng-container>
      <ng-container *ngIf="!delegations || !delegations.length">
        <option>لم يتم إختيار المدينة</option>
      </ng-container>
    </select>
  </div>
  <div class="form-group checkbox">
    <label><input type="checkbox" id="priorityForm" name="priorityForm" formControlName="priorityForm" ngModel required>بسبب قلّة عدد الأطباء اعيشك كلّمنا كونشي كان عندك ضرورة إستعجالية. حياة غيرك تنجم تحتاج لتدخل طبّي عاجل في نفس الوقت.
      </label>
  </div>
  <div class="form-group checkbox">
    <label><input type="checkbox" id="validateForm" name="validateForm" formControlName="validateForm" ngModel required>هذا إستبيان باش تعرف عنكشي أعراض فيروس الكورونا وليس استشارة طبية</label>
  </div>
  <div class="row">
    <div class="col-sm-9"></div>
    <button class="btn call-button col-sm-3" [disabled]="registerForm.invalid">
      <img src="../../../assets/images/phone.png" class="mr-1">
    </button>
  </div>
  <div class="row  pb-3 text-center">
    <div *ngIf="serverError" class="col-md-12 text-danger">{{serverError}}</div>
  </div>
</form>
