.sick-form {
  width: 35vw;
  background-color: #27bbbd;
  color: white;
  font-size: 1.875rem;
  font-weight: bold;
  border: 2px solid #27bbbd;
  border-radius: 2rem;
  .call-button {
    background-color: greenyellow;
    width: 2.5rem;
    img {
      width: 2.5rem;
    }
    border: solid 2px #297670;
    border-radius: 0.75rem;
  }
  .call-button:disabled {
    cursor: not-allowed;
    background-color: #cecece;
  }
  call-button:hover {
    background-color: #4CAF50;
  }
  .loading-message {
    text-align: center;
    font-weight: bold;
  }
  .card-header {
    border-top-left-radius: 2rem 2rem;
    border-top-right-radius: 2rem 2rem;
    text-align: center;
    color: #00a99d;
    background-color: white;
    margin: -1rem -1rem 1rem -1rem;
  }
}
.ar-label {
  float: right;
}
.fr-label {
  text-align: left;
}
.cbcontainer {
  display: inline-block;
}

.checkbox {
  text-align: right;
}

.checkbox input {
  float: right;
  position: relative !important;
  margin: 5px !important;
  width: 1.4rem;
  height: 1.4rem;
  top: 0.5rem;
}
input {
  text-align: right;
}
/* Mobile styles */
@media only screen and (max-width: 768px) {
  .sick-form {
    width: 100%;
    .card {
      input[type="text"], input[type="tel"] {
        width: 10rem;
      }
    }
    .call-button {
      width: 100%;
    }
  }
}

.form-control{
  direction: rtl;
}
