@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Changa|El+Messiri&display=swap');

html {
  width: 100vw;
  height: 100%;

  body {
    min-height: 100vh;
    position: relative;
    font-family: 'Changa', sans-serif !important;
    //background-image: url(assets/images/flag.jpg);
    background-attachment: fixed;
    background-size: 100%;
    .link-button {
      text-decoration: none;
      text-align: center;
      color: white;
      border-radius: 1rem;
      margin-right: auto !important;
      margin-left: auto !important;
      max-width: 12.5rem;
      font-size: 1.25rem;
      background: #0061A9 !important;
      font-weight: bold;
      border: solid;
    }
    .card {
      max-width: 93% !important;
    }
    .row{
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
}
@media only screen and (min-width: 769px) {
  body {
    padding-bottom: 9rem;
  }
}
/* Mobile styles */
@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 20rem;
  }
}

.pointer {
  cursor: pointer;
}
